<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="user">
        <div id="login" class="active">
            <h1>Welcome Back!</h1>
            <div ng-hide="forgot">
                <table align="center" cellpadding="10" ng-app="myApp" ng-controller="loginController">


                    <!----- User Name ---------------------------------------------------------->
                    <tr>
                        <td>User Name</td>
                        <td>
                            <input type="text" placeholder="Enter User Name" ng-model="UserName" />
                            <h1>{{UserName}}</h1>
                        </td>
                    </tr>

                    <!----- password ---------------------------------------------------------->
                    <tr>
                        <td>password</td>
                        <td>
                            <input type="text" placeholder="Enter password" ng-model="password" />
                            <h1>{{password}}</h1>
                        </td>
                    </tr>
                
                    <p class="forgrt"><a href="#" ng-click="funcForget()">Forgot Password?</a></p>
                   
                    </td>
                    <tr>
                            <td colspan="2" align="center">
                                <button ng-click="login()">login</button>
                                
                                <input type="reset" value="Reset">
                            </td>
                        </tr>
                </table>
            </div>


        </div>

    </div>
</body>

</html>