<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <title>Student Registration Form</title>

</head>

<body>
    <h3>STUDENT REGISTRATION FORM</h3>

    <div class="user">
        <div id="signup" class="active">
            <table align="center" cellpadding="10" ng-app="myApp" ng-controller="registerController">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <!----- First Name ---------------------------------------------------------->
                <tr>
                    <td>First Name</td>
                    <td>
                        <input type="text" maxlength="30" placeholder="Enter First name" ng-model="firstname" />
                        <h1>{{firstname}}</h1>
                    </td>
                </tr>

                <!----- Last Name ---------------------------------------------------------->
                <tr>
                    <td>Last Name</td>
                    <td>
                        <input type="text" maxlength="30" placeholder="Enter Last name" ng-model="lastname" />
                        <h1>{{lastname}}</h1>
                    </td>
                </tr>

                <!----- User Name ---------------------------------------------------------->
                <tr>
                    <td>User Name</td>
                    <td>
                        <input type="text" maxlength="30" placeholder="Enter Username" ng-model="username" pattern="(a-Z)" />
                        <br>(only letters and between 3 to 8 characters)
                        <h1>{{username}}</h1>
                    </td>
                </tr>

                <!----- Password ---------------------------------------------------------->
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" id="psw" placeholder="Enter Password"
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                            title="Must contain at least one number and letter, and between 5 to 10 characters"
                            ng-model="password" required />
                            <br>(at least one number and one uppercase and lowercase letter, and between 5 to 10 characters)
                        <h1>{{password}}</h1>
                    </td>
                </tr>

                <!----- Country -------------------------------------------------------->
                <tr>

                    <td> Country </td>
                    <td>
                        <select ng-model="selectCountry" ng-options="x.Name for x in Countries"></select>
                        <h1>{{selectCountry.Name}}</h1>

                    </td>

                </tr>


                <!----- city ---------------------------------------------------------->
                <tr>
                    <td>City</td>
                    <td><input type="text" maxlength="30" placeholder="Enter City name" ng-model="city" />
                        <h1>{{city}}</h1>
                    </td>
                </tr>

                <!----- email ---------------------------------------------------------->
                <tr>
                    <td>Email</td>
                    <td><input type="email" placeholder="Enter Email" ng-model="email" />
                        <h1>{{email}}</h1>
                    </td>
                </tr>

                <tr>
                    <td>
                        please choose 2 question for security reasons and answer them
                    </td>
                </tr>
                <!----- question1 ---------------------------------------------------------->
                <br>
                <tr>
                    <td>Question 1</td>
                    <td><input type="text" maxlength="100" placeholder="Enter First question" ng-model="q1" />
                        <h1>{{q1}}</h1>
                    </td>
                </tr>

                <!----- answer1 ---------------------------------------------------------->
                <br>
                <tr>
                    <td>Answer 1</td>
                    <td><input type="text" maxlength="100" placeholder="Enter First answer" ng-model="a1" />
                        <h1>{{a1}}</h1>
                    </td>
                </tr>

                <!----- question 2 ---------------------------------------------------------->
                <br>
                <tr>
                    <td>Question 2</td>
                    <td><input type="text" maxlength="100" placeholder="Enter Second question" ng-model="q2" />
                        <h1>{{q2}}</h1>
                </tr>
                <!----- answer2 ---------------------------------------------------------->
                <br>
                <tr>
                    <td>Answer 2</td>
                    <td><input type="text" maxlength="100" placeholder="Enter Second answer" ng-model="a2" />
                        <h1>{{a2}}</h1>
                    </td>
                </tr>
                <!----- category ---------------------------------------------------------->
                <br>
                <tr>

                    <td> Category </td>
                    <td>
                        <select ng-model="selectCategory" ng-options="x.categoryName for x in Categories"></select>
                        <h1>{{selectCategory.Name.outerHTML}}</h1>

                    </td>
                </tr>
                <h1>{{myWelcome}}</h1>

                <!----- Submit and Reset ------------------------------------------------->
                <tr>
                    <td colspan="2" align="center">
                        <button ng-click="sumbit()">Submit</button>

                        <input type="reset" value="Reset">
                    </td>
                </tr>
            </table>

            </form>
        </div>
    </div>
</body>

</html>