<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Poi</title>
    <style>
        img {
            height: 200px;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="poiController">
    <h1>Poi</h1>

    <div id="poi" class="active">
        <div id="bar_search" align="center">
            <table>
                <tr>
                    <td>Filter by category :</td>
                    <td>
                        <select ng-model="selectCategory" ng-options="x.categoryName for x in Categories"></select>
                    </td>
                </tr>
                <tr>
                    <td>Search by Poi name :</td>
                    <td>
                        <input type="text" name="serach_poi_name" ng-model="cat_name"><br>
                    </td>
                </tr>
            </table>
            <button ng-click="search()">Search</button>
            <button ng-click="search_by_name()">Search_input</button>
        </div>
        <div np-show="empty_result">Didn't found anything...</div>

        <table border="1" align="center" style="width:50%">
            <tr>
                <td align="center" style="font-size: 30px"><b>Information</b></td>
                <td align="center" style="font-size: 30px"><b>Image</b></td>
            </tr>
            <tr ng-repeat="(id, poi) in poiCtrl.Pois">
                <td style="width:40%">
                    <b style="font-size: 25px">Poi Name:</b> <span ng-bind="poi.poiName"></span><br>
                    <br>
                    <b style="font-size: 25px">Poi Category:</b> <span ng-bind="poi.categoryName"></span><br>
                </td>
                <td align="center" style="width:40%">
                    <img ng-src="{{ poi.poiURL }}"
                        ng-click="open_description_window(poi.poiWatching, poi.poiDescription, poi.poiRate, poi.poiName)">
                </td>
            </tr>
        </table>


    </div>
</body>

</html>