<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Poi</title>



    <!---->
    <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
    <script data-require="angular.js@1.6.5" data-semver="1.6.5"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script data-require="angular-animate@1.6.*" data-semver="1.6.5"
        src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script data-require="angular-touch@1.6.*" data-semver="1.6.2"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="2.5.0"
        src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
    <!---->
</head>

<body ng-app="myApp" ng-controller="poiController">





    <h1>Poi</h1>

    <div id="poi" class="active">
        <div id="bar_search" align="center">
            <table>
                <tr>
                    <td>Filter by category :</td>
                    <td>
                        <select ng-model="selectCategory" ng-options="x.categoryName for x in Categories"></select>
                        <button ng-click="search()">Filter</button>
                    </td>
                </tr>
                <tr>
                    <td>Search by Poi name :</td>
                    <td>
                        <input type="text" name="serach_poi_name" ng-model="cat_name"><br>
                    </td>
                </tr>
            </table>

            <button ng-click="search_by_name()">Search</button>
            <button ng-click="sort()">Sort by rating</button>
        </div>


        <table border="1" align="center" style="width:50%">
            <tr>
                <td align="center" style="font-size: 30px"><b>Information</b></td>
                <td align="center" style="font-size: 30px"><b>Image</b></td>
            </tr>
            <tr ng-repeat="(id, poi) in poiCtrl.Pois">

                <td style="width:40%">
                    <b style="font-size: 25px">Poi Name:</b>
                    <modal-window>
                        <div class="modal-heading"><b>{{poi.poiName}}</b></div>
                        <div class="modal-cont">
                            <b>Poi Description: </b><span ng-bind="poi.poiDescription"></span><br>
                            <b>Poi Rate: </b><span ng-bind="poi.poiRate"></span><br>
                            <b>Poi Watching: </b><span ng-bind="poi.poiWatching"></span><br>
                            <b>Poi Category: </b><span ng-bind="poi.categoryName"></span><br>
                            <b>Poi last 2 review:</b>
                            <br>
                            <b>1) <span ng-bind="poi.date_review1"></span></b><span ng-bind="poi.review1"></span><br>
                            <b>2) <span ng-bind="poi.date_review2"></span></b><span ng-bind="poi.review2"></span><br>
                            
                        </div>
                    </modal-window>
                    <br>
                    <b style="font-size: 25px">Poi Category:</b> <span ng-bind="poi.categoryName"></span><br>
                    <br>

                </td>
                <td align="center" style="width:40%">
                    <img ng-src="{{ poi.poiURL }}" style="height: 50%; border-radius: 50%;"
                        ng-click="open_description_window(poi.poiWatching,poi.poiDescription, poi.poiRate, poi.poiName)">
                    <img id="{{poi}}" ng-src="{{heart[id]}}" ng-show="userNameLogged" style="width: 10%"
                        ng-click="like_poi(poi,id)">

                </td>




            </tr>

        </table>


    </div>

</body>

</html>