<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Poi</title>
</head>


<h2>HOME</h2>
<!-- display all cities -->

<body>
    <div class="homeBody">
        <div ng-show="userNameLogged" class="loggedInHome">
            <div ng class="recommendedPois">

                <table>
                    <h2>recommended Pois just for you</h2>

                    <tr ng-repeat="(id, poi) in homeCtrl.recommendedPois">
                        <td>
                            <modal-window>
                                <div class="modal-heading"><b>{{poi.poiName}}</b></div>
                                <div class="modal-cont">
                                    <b>Poi Description:</b> <span ng-bind="poi.poiDescription"></span><br>
                                    <b>Poi Rate:</b> <span ng-bind="poi.poiRate"></span><br>
                                    <b>Poi Watching:</b> <span ng-bind="poi.poiWatching"></span><br>
                                    <b>Poi Category: </b><span ng-bind="poi.categoryName"></span><br>
                                    <b>Poi last 2 review:</b>
                                    <br>
                                    <b>1) <span ng-bind="poi.date_review1"></span></b><span
                                        ng-bind="poi.review1"></span><br>
                                    <b>2) <span ng-bind="poi.date_review2"></span></b><span
                                        ng-bind="poi.review2"></span><br>

                                    <b>Poi Rate:</b>
                                    <select ng-model="selectRate">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select><br>
                                    <b>Poi Review:</b> <input type="text" placeholder="review here..."
                                        ng-model="review" /><br>
                                    <button ng-click="addReview(review, selectRate, poi.poiName)"
                                        style="width: 25%">Submit</button>
                                </div>
                            </modal-window>
                            <br>
                            Category: <span ng-bind="poi.categoryName"></span><br>
                            <img ng-src="{{ poi.poiURL }}" style="height: 50%; border-radius: 50%;">



                        </td>
                    </tr>
                </table>

            </div>
            <div ng class="lastSavedPoi" style="background-color:#D3D3D3;  float: right; width: 55%; padding: 1%; ">
                <table>
                    <h2>Your last saved pois</h2>
                    <tr ng-repeat="(id, poi) in homeCtrl.lastSaved">
                        <td>
                            <modal-window>
                                <div class="modal-heading"><b>{{poi.poiName}}</b></div>
                                <div class="modal-cont">
                                    <b>Poi Description:</b> <span ng-bind="poi.poiDescription"></span><br>
                                    <b>Poi Rate:</b> <span ng-bind="poi.poiRate"></span><br>
                                    <b>Poi Watching:</b> <span ng-bind="poi.poiWatching"></span><br>
                                    <b>Poi Category: </b><span ng-bind="poi.categoryName"></span><br>
                                    <b>Poi last 2 review:</b>
                                    <br>
                                    <b>1) <span ng-bind="poi.date_review1"></span></b><span
                                        ng-bind="poi.review1"></span><br>
                                    <b>2) <span ng-bind="poi.date_review2"></span></b><span
                                        ng-bind="poi.review2"></span><br>

                                    <b>Poi Rate:</b>
                                    <select ng-model="selectRate">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select><br>
                                    <b>Poi Review:</b> <input type="text" placeholder="review here..."
                                        ng-model="review" /><br>
                                    <button ng-click="addReview(review, selectRate, poi.poiName)"
                                        style="width: 25%">Submit</button>
                                </div>
                            </modal-window>
                            <br>
                            Category: <span ng-bind="poi.categoryName"></span><br>
                            <img ng-src="{{ poi.poiURL }}" style="height: 50%; border-radius: 50%;">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-hide="userNameLogged">
            <table class="randomTable">
                <div>
                    <td ng-repeat="(id, poi) in homeCtrl.randomPois">
                        <div ng-controller="homeController">
                            <modal-window>
                                <div class="modal-heading"><b>{{poi.poiName}}</b></div>
                                <div class="modal-cont">
                                    <b>Poi Description: </b><span ng-bind="poi.poiDescription"></span><br>
                                    <b>Poi Rate: </b><span ng-bind="poi.poiRate"></span><br>
                                    <b>Poi Watching: </b><span ng-bind="poi.poiWatching"></span><br>
                                    <b>Poi Category: </b><span ng-bind="poi.categoryName"></span><br>
                                    <b>Poi last 2 review:</b>
                                    <br>
                                    <b>1) <span ng-bind="poi.date_review1"></span></b><span
                                        ng-bind="poi.review1"></span><br>
                                    <b>2) <span ng-bind="poi.date_review2"></span></b><span
                                        ng-bind="poi.review2"></span><br>
                                </div>
                            </modal-window>
                        </div>
                        Poi Category: <span ng-bind="poi.categoryName"></span><br>
                        <img ng-src="{{ poi.poiURL }}" style="height: 50%; border-radius: 50%;">
                    </td>
                </div>
            </table>
        </div>

</body>



</html>