<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Poi</title>
</head>

<body ng-app="myApp" ng-controller="favoriteController">

    <h1>Favorite</h1>

    <div id="poi" class="active">
        <div id="bar_search" align="center">
            <table>
                <tr>
                    <td>Filter by category :</td>
                    <td>
                        <select ng-model="selectCategory" ng-options="x.categoryName for x in Categories"></select>
                        <button ng-click="search()">Filter</button>
                    </td>
                </tr>
                <tr>
                    <td>Search by Poi name :</td>
                    <td>
                        <input type="text" name="serach_poi_name" ng-model="cat_name"><br>
                    </td>
                </tr>
            </table>

            <button ng-click="sort()">Sort by rating</button>
            <br>
            <button ng-click="search_by_name()">Search</button>
            <br>
            <button ng-click="save()">Save</button>
        </div>

        <table border="1" align="center" style="width:50%">
            <tr>
                <td align="center" style="font-size: 30px"><b>Information</b></td>
                <td align="center" style="font-size: 30px"><b>Image</b></td>
            </tr>
            <tr ng-repeat="(id, poi) in favoriteCtrl.Pois">
                <td style="width:40%">
                    <b style="font-size: 25px">Poi Name:</b>
                    <modal-window>
                        <div class="modal-heading"><b>{{poi.poiName}}</b></div>
                        <div class="modal-cont">
                            <b>Poi Description: </b><span ng-bind="poi.poiDescription"></span><br>
                            <b>Poi Rate: </b><span ng-bind="poi.poiRate"></span><br>
                            <b>Poi Watching: </b><span ng-bind="poi.poiWatching"></span><br>
                            <b>Poi Category: </b><span ng-bind="poi.categoryName"></span><br>
                            <b>Poi last 2 review:</b>
                            <br>
                            <b>1) <span ng-bind="poi.date_review1"></span></b><span ng-bind="poi.review1"></span><br>
                            <b>2) <span ng-bind="poi.date_review2"></span></b><span ng-bind="poi.review2"></span><br>
                            <b>Poi Rate:</b>
                            <select ng-model="selectRate">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select><br>
                            <b>Poi Review:</b> <input type="text" placeholder="review here..." ng-model="review" /><br>
                            <button ng-click="addReview(review, selectRate, poi.poiName)"
                                style="width: 25%">Submit</button>
                        </div>
                    </modal-window>
                    <br>
                    <b style="font-size: 25px">Poi Category:</b> <span ng-bind="poi.categoryName"></span><br>
                    <br>
                    <button ng-click="up(id)" style="width: 25%">UP</button>
                    <br>
                    <button ng-click="down(id)" style="width: 25%">DOWN</button>
                </td>
                <td align="center" style="width:40%">
                    <img ng-src="{{ poi.poiURL }}" style="height: 50%; border-radius: 50%;"
                        ng-click="open_description_window(poi.poiWatching,poi.poiDescription, poi.poiRate, poi.poiName)">
                    <img id="{{poi}}" ng-src="{{heart[id]}}" style="width: 10%" ng-click="like_poi(poi.poiName,id)">
                </td>
            </tr>
        </table>


    </div>

</body>

</html>